/* CSS RESET */
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* utilities */


/* main */

.core{
    min-height: 100vh;
    background-color: red;
    position: relative;
}


header{
    height: 100px;
    position: absolute;
    top: 0;
    right: 0;
    left: 0;
    background-color: blue;
}

main{
    height: 100%;
    width: 100%;
    padding-top: 112px;
    padding-left: 80px;
}

.navbar-left{
    height: 100%;
    width: 67px;
    z-index: 1;
    background-color: greenyellow;
    position: absolute;
    left: 0;
    bottom:0;

}

footer{
    height: 100px;
    background-color: black;
    z-index: 1;
    position: fixed;
    bottom: 0;
    left: 0;
    right: 0;

}

/* responsive- mobile first */


/* width576 */

@media screen and (min-width:576px){
    .navbar-left{
        width: 200px;
        
    }
}

/* width768 */

@media screen and (min-width:768px){
    
}
/* width992 */

@media screen and (min-width:992px){
    
}

